/node_modules
/public/hot
/public/storage
/public/upload
/public/*.config
/storage/*.key
/storage/logs
/web/*.config
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
